@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&family=Poppins:wght@600&display=swap');

:root{
    --background: rgba(25, 79, 145, 0.3);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #222;
    font-family: ; 'Poppins', sans-serif;
    font-weight: 400;
}

header{
background: var(--brackground);
padding: 10px;
text-align: center;
position: fixed;
width: 100%;
z-index: 1000;
}

.logo{
    margin:0;
}

.nav-toggle{
    display:none;
}

nav{
    position: absolutle;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    
    transform: sclae(1,0);
    transform-origin:top;
    transition:transform 100ms ease-out;
}

nav ul{
    margin:0;
    padding: 0;
    list-style:none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decortaion: none;
    font-size: 1.2rem;
    text-tranform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-out;

}

.nav-toggle:checked ~ nav{
transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity:1;
    transition: opacity 250ms ease-out 300ms;
}

nav a hover{
    color: #000;
}
